# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# IDE
.idea/
.vscode/
.DS_Store
__MACOSX/

# Static resources
resources/fonts/

# Sensitive config
config.py

# Outputs
output/

# Local sample inputs
sample_photos/

# Database
filelist.txt
.filelist_cache.txt
*.db

# Logs
*.log

# Others
test/
old/
